// app global css in SCSS form
body {
  font-family: 'mysilk';
}

@font-face {
  font-family: 'Silk Serif';
  src: url(./fonts/silk-serif-regular.otf) format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Silk Serif';
  src: url(./fonts/silk-serif-extralight.otf) format('otf');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Silk Serif';
  src: url(./fonts/silk-serif-light.otf) format('otf');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

// declare a class which applies it
.silkfont {
  font-family: 'Silk Serif';
  color: #ffffff;
}

@font-face {
  font-family: 'mysilk';
  src: url(./fonts/silk-serif-extralight.otf) format('otf');
  font-style: normal;
  font-display: swap;
}
